
<!DOCTYPE html>
<html>
<head>
<title>Word Inflection Generator</title>
</head>
<body>
<h1>Word Inflection Generator</h1>
<form action="/generate" method="post">
<label for="word">Word:</label>
<input type="text" name="word" id="word">
<br>
<label for="pos">Part of Speech:</label>
<select name="pos" id="pos">
<option value="noun">Noun</option>
<option value="verb">Verb</option>
<option value="adjective">Adjective</option>
<option value="adverb">Adverb</option>
</select>
<br>
<input type="submit" value="Generate">
</form>
</body>
</html>


